.background_1 {
    height: 100vh;
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-Global.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
}

.background_2 {
    height: 100vh;
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-LHD-v2.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
}

.background_3 {
    height: 100vh;
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop-v2.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
}

.background_4 {
    height: 100vh;
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-v2.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
}

.background_5 {
    height: 100vh;
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop-v3.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#logo_Tesla {
    width: 120px;
    height: 24px;
    cursor: pointer;
}

#logo_Tesla {
    background-color: rgba(0, 0, 0, 0);
    padding: 6px 16px 6px 16px;
    border-radius: 4px;
}

nav a {
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    color: #171a20;
    size: 14px;
    text-align: center;
    padding: 4px 16px;
    cursor: pointer;
}

.menu_Responsive {
    display: none;
}

.liens_navbar {
    padding: 6px 20px 6px 16px;
    gap: 64px;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 6px 16px 6px 16px;
    border-radius: 4px;
}

.logos img {
    width: 24px;
    height: 24px;
    padding: 4px 4px 4px 4px;
    cursor: pointer;
}

nav img:hover {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
}

.text_Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 72px;
    gap: 8px;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    color: #171a20;
    margin: 0px;
    text-align: center;
}

h3 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #171a20;
    margin: 0px;
    text-align: center;
}

.text_Title a {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #393c41;
    text-decoration: underline;
    text-align: center;
}

.background_4 .text_Title h1 {
    color: #ffffff;
}

.h1_section2 {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    color: #171a20;
    margin: 0px;
    text-align: center;
    padding-top: 88px;
}

.a_section2 {
    font-size: 24px;
}

main a:hover {
    color: #171a20;
    cursor: pointer;
}

.CTA_Order {
    text-decoration: none;
    width: 264px;
    height: 40px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #000000;
    padding: 4px 24px 4px 24px;
    background-color: white;
    border-radius: 4px;
    border: none;
    text-align: center;
}

.CTA_Order:hover {
    background-color: #e2e3e3;
    cursor: pointer;
}

.CTA_Try {
    text-decoration: none;
    width: 264px;
    height: 40px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #eeeeee;
    padding: 4px 24px 4px 24px;
    background-color: #222222;
    border-radius: 4px;
    border: none;
    text-align: center;
}

.CTA_Try:hover {
    background-color: #393c41;
    cursor: pointer;
}

.CTA {
    text-align: center;
    margin-top: 344px;
    ;
}

.background_5 .CTA_Try {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 264px;
    height: 40px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: grey;
    padding: 4px 24px 4px 24px;
    background-color: #222222;
    border: none;
    text-align: center;
}

.background_5 .CTA_Try:hover {
    background-color: rgba(34, 34, 34, 75%);
    transition-duration: 1s;
}

.background_5 .CTA_Order {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 264px;
    height: 40px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: grey;
    padding: 4px 24px 4px 24px;
    background-color: #222222;
    border: none;
    text-align: center;
}

.background_5 .CTA_Order:hover {
    background-color: rgba(34, 34, 34, 75%);
    transition-duration: 1s;
}


.background_3 .CTA {
    margin-top: 456px;
}

.background_4 .CTA {
    margin-top: 456px;
}

/* -----------------------------------RESPONSIVE - SMARTPHONE------------------------------------------------------------------------------------------------------------------- */

@media all and (max-width: 426px) {
    body {
        background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-Global.png");
    }

    .logos {
        display: none;
    }

    .liens_navbar {
        display: none;
    }

    .menu_Responsive {
        width: 70px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.05);
        border: none;
        font-size: 14px;
        color: #171a20;
        border-radius: 4px;
        cursor: pointer;
    }

    main h1 {
        font-size: 32px;
    }

    main h3 {
        font-size: 18px;
    }

    .CTA_Order {
        width: 378px;
    }

    .CTA_Try {
        width: 378px;
    }

    .CTA {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 256px;
        gap: 16px;
    }
}

/* ---------------------------------------RESPONSIVE - TABLET----------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 426px) and (max-width: 1024px) {
    body {
        background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-Global.png");
    }

    .logos {
        display: none;
    }

    .liens_navbar {
        display: none;
    }

    .menu_Responsive {
        width: 70px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.05);
        border: none;
        font-size: 14px;
        color: #171a20;
        border-radius: 4px;
        cursor: pointer;
    }

    .text_Title {
        padding-top: 64px;
    }

    .CTA {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
        margin-top: 256px;
    }

}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
